td{
    padding: 1%;
    font-size: 90%;
   
}
table {
    margin-top:1%;
    margin-bottom:1%;
    border-collapse: collapse;
}
th{
    background: rgb(57, 95, 133);
    color:gold;
    padding: 1%;
}

